.container {
  background-color: #494444;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.container > div {
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
}

.name {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}
