.feature {
    width: 100%;
    aspect-ratio: 1/1.4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.feature > * {
    z-index: 2;
}

.feature::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    transition: all 0.3s ease;
}

.feature:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
}

.feature button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid white; 
    background-color: transparent; 
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.feature button:hover {
    background: white;
    scale: 105%;
}

.feature button:hover a {
    color: black;
}

.feature button a {
    color: white;
}

.feature p {
    text-transform: capitalize;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .feature {
        aspect-ratio: 1/2.2;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .feature {
        font-size: 2rem;
    }

    .feature button {
        font-size: 1.6rem;
    }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
    .feature {
        max-height: 1200px;
    }
}
