.container {
  padding: 100px 0px;
  background-color: #f4f0e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #837453;
}

.feedback-container {
  position: absolute;
  background-size: cover;
  inset: 0;
  background-position: center 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.feedback-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

.feedback-container:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.feedback-container:hover {
  inset: 0;
}

.feedback {
  position: relative;
  font-size: 1rem;
  color: white;
  width: 70%;
  line-height: 22px;
  font-weight: 700;
  z-index: 5;
}

.feedback-container:hover ~ .progress {
  opacity: 0;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease-in-out;
}

.circle {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .inner-container {
    width: 80%;
    max-width: 1200px;
  }

  .feedback-container {
    top: 0;
    right: 0;
    left: 20px;
    bottom: 30px;
  }

  .progress {
    display: flex;
  }

  .circle {
    display: block;
  }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .inner-container {
    height: 400px;
  }

  .feedback {
    line-height: 30px;
    font-size: 1.6rem;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .feedback {
    line-height: 40px;
    font-size: 2rem;
  }

  .inner-container {
    height: 820px;
  }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
  .inner-container {
    max-width: 1400px;
  }
}
