.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
}

.par {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.par1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  color: white;
  text-transform: capitalize;
}

.par2 {
  text-align: center;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0px 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.booking {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: white;
  transition: 0.3s;
}

.booking a {
  text-decoration: none;
  color: black;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: white;
  background: none;
  transition: 0.3s;
}

.more > p {
  font-size: 16px;
}

.more > svg {
  width: 16px;
}

.booking:hover {
  background-color: rgb(214, 212, 212);
  transform: scale(105%);
}

.more:hover {
  transform: scale(105%);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .par1 {
    font-size: 44px;
    width: 600px;
  }

  .booking {
    padding: 15px 25px;
    font-size: 20px;
  }

  .more {
    padding: 15px 25px;
  }

  .more > p {
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .par1 {
    font-size: 52px;
    width: 700px;
  }

  .par2 {
    font-size: 20px;
  }

  .booking {
    padding: 15px 25px;
    font-size: 24px;
  }

  .more {
    padding: 15px 25px;
  }

  .more > p {
    font-size: 24px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .par1 {
    font-size: 56px;
    width: 800px;
  }

  .par2 {
    font-size: 20px;
    width: 1100px;
  }

  .buttons {
    justify-content: center;
    gap: 200px;
  }

  .booking {
    padding: 15px 25px;
    font-size: 24px;
  }

  .more {
    padding: 15px 25px;
  }

  .more > p {
    font-size: 24px;
  }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
  .par1 {
    font-size: 64px;
    width: 800px;
  }

  .container {
    gap: 100px;
  }

  .par2 {
    font-size: 24px;
    width: 1100px;
  }
}
