.Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    height:140px;
    width:900px;
    gap:40px;
  }
  
  .Top {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap:70px;
  }
  
  .Search {
    position: relative;
    display: flex;
    align-items: center;
    width: 406px;
    height: 37px;
  }
  
  .Search input {
    width: 100%;
    height: 100%;
    padding: 8px 40px 8px 12px; /* Space for icon */
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    background-color: white;
    color: black;
    outline: none;
  }
  
  .search-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #555;
  }
  
  .search-btn:hover {
    color: black;
  }
  
  
  .Right {
    display: flex;
  
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  
  .Bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .Date {
    padding-left: 382px;
    font-size: 14px;
    color: #555;
    text-transform: capitalize;
  }
  
  .booking {
    background-color: #a39f7f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking:hover {
    background-color: #87846d;
  }
  