.container {
    width: 250px;
    height: 100vh;
    background-color: #f5f4ee;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .HotelName {
    font-size: 20px;
    font-weight: bold;
    color: #87846d;
    margin-bottom: 20px;
  }
  
  .elements {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .element {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.7 ease-in-out;
  }
  
  .element:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .element:first-child {
    background-color: #d9d7c5;
  }
  
  .icon img {
    width: 20px;
    height: 20px;
  }
  
  .Page a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  