.wrapper {
    position: relative;
    min-height: 100lvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.219); 
}

.wrapper > * {
    position: relative;
    z-index: 2;
}