.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.par3 {
    text-align: center;
    width: 400px;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .par3 {
        width: 600px;
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .par3 {
        width: 700px;
        font-size: 1.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .par3 {
        width: 1000px;
        font-size: 1.8rem;
    }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
}
