.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  display: inline-block;
  text-align: center;
  min-width: 80px;
}

/* Room statuses */
.available {
  background-color: #7b8caa;
}
.occupied {
  background-color: #e27d7d;
}


/* Deal statuses */
.ongoing {
  background-color: #7b8caa;
}
.full {
  background-color: #e27d7d;
}
.new {
  background-color: #b6b49d;
}
.inactive {
  background-color: #e27d7d;
}

/* Guest statuses */
.Maked {
  background-color: #99aab5;
}
.dirty {
  background-color: #cd5c5c;
}
.inspected {
  background-color: #b6b49d;
}
.pick-up {
  background-color: #c4ad66;
}
