.badge {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
  }
  
  .badge.clean {
    background-color: #a0aec0;
  }
  
  .badge.dirty {
    background-color: #e29393;
  }
  
  .badge.inspected {
    background-color: #b2b58b;
  }
  
  .badge.pick-up {
    background-color: #eac66a;
    color: black;
  }
  