:root {
    --image-width: 200px;
}

.container {
    width: var(--image-width);
    aspect-ratio: 2.4/1;
    position: relative;
    overflow: hidden;
}

.container > img {
    position: absolute;
    top: calc(var(--image-width) / -3.33);
    object-fit: cover;
    object-position: center;
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    :root {
        --image-width: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
        --image-width: 300px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :root {
        --image-width: 350px;
    }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
}


