.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.image-container {
    width: calc(100px* 2.4);
    height: calc(100px * 1.8);
    position: relative;
    overflow: hidden;
}

.image-container > img {
    position: absolute;
    top: -100px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.par3 {
    font-size: 1rem;
    font-weight: 400;
    color :rgb(0, 0, 0);
    text-align: center;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
}
