.container {
    background-color: #F4F0E5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    gap: 40px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     .container {
          padding: 100px 0px;
          height: fit-content;
          gap: 100px;
     }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
     .container {
          padding: 200px 0px;
     }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
}
