.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 100%;
  padding: 26px 45px;
  z-index: 10;
}

.right-section {
  display: none;
}

.right-section .sign-in {
  background: white;
  color: black;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.sign-in p {
  font-size: 1rem;
  font-weight: 700;
  padding-top: 19px;
  padding-right: 32px;
  padding-bottom: 19px;
  padding-left: 32px;
}

.right-section .sign-in:hover {
  background: lightgray;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .right-section {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1024px) {
  .right-section .sign-in {
    font-size: 1.2rem;
  }
}

/* Extra extra large devices (very large screens, 1400px and up) */
@media (min-width: 1400px) {
}
